
/* CSS HEX */
--bdazzled-blue: #3d5a80ff;
--dark-sky-blue: #98c1d9ff;
--light-cyan: #e0fbfcff;
--burnt-sienna: #ee6c4dff;
--gunmetal: #293241ff;

/* CSS HSL */
--bdazzled-blue: hsla(214, 35%, 37%, 1);
--dark-sky-blue: hsla(202, 46%, 72%, 1);
--light-cyan: hsla(182, 82%, 93%, 1);
--burnt-sienna: hsla(12, 83%, 62%, 1);
--gunmetal: hsla(218, 23%, 21%, 1);

/* SCSS HEX */
$bdazzled-blue: #3d5a80ff;
$dark-sky-blue: #98c1d9ff;
$light-cyan: #e0fbfcff;
$burnt-sienna: #ee6c4dff;
$gunmetal: #293241ff;

/* SCSS HSL */
$bdazzled-blue: hsla(214, 35%, 37%, 1);
$dark-sky-blue: hsla(202, 46%, 72%, 1);
$light-cyan: hsla(182, 82%, 93%, 1);
$burnt-sienna: hsla(12, 83%, 62%, 1);
$gunmetal: hsla(218, 23%, 21%, 1);

/* SCSS RGB */
$bdazzled-blue: rgba(61, 90, 128, 1);
$dark-sky-blue: rgba(152, 193, 217, 1);
$light-cyan: rgba(224, 251, 252, 1);
$burnt-sienna: rgba(238, 108, 77, 1);
$gunmetal: rgba(41, 50, 65, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #3d5a80ff, #98c1d9ff, #e0fbfcff, #ee6c4dff, #293241ff);
$gradient-right: linear-gradient(90deg, #3d5a80ff, #98c1d9ff, #e0fbfcff, #ee6c4dff, #293241ff);
$gradient-bottom: linear-gradient(180deg, #3d5a80ff, #98c1d9ff, #e0fbfcff, #ee6c4dff, #293241ff);
$gradient-left: linear-gradient(270deg, #3d5a80ff, #98c1d9ff, #e0fbfcff, #ee6c4dff, #293241ff);
$gradient-top-right: linear-gradient(45deg, #3d5a80ff, #98c1d9ff, #e0fbfcff, #ee6c4dff, #293241ff);
$gradient-bottom-right: linear-gradient(135deg, #3d5a80ff, #98c1d9ff, #e0fbfcff, #ee6c4dff, #293241ff);
$gradient-top-left: linear-gradient(225deg, #3d5a80ff, #98c1d9ff, #e0fbfcff, #ee6c4dff, #293241ff);
$gradient-bottom-left: linear-gradient(315deg, #3d5a80ff, #98c1d9ff, #e0fbfcff, #ee6c4dff, #293241ff);
$gradient-radial: radial-gradient(#3d5a80ff, #98c1d9ff, #e0fbfcff, #ee6c4dff, #293241ff);
