:root{
  --bdazzled-blue: #3d5a80ff;
  --dark-sky-blue: #98c1d9ff;
  --light-cyan: #e0fbfcff;
  --burnt-sienna: #ee6c4dff;
  --gunmetal: #293241ff;
}

body, html {
  height: 100%;
  width: auto;
}

body {
  background-color: var(--gunmetal);
  color: var(--light-cyan);
  font-family: monospace;
  line-height: 20px;
  word-spacing: 5px;
}

a {
	outline: none;
	text-decoration: none;
  color: var(--burnt-sienna);
}

a:hover{
  color: var(--dark-sky-blue);
}


.dot{
	padding-top: 5px;
	border-radius: 30px;
	background-color: #98c1d9;
	border-style: double;
	border: var(--burnt-sienna);
  box-shadow:0 1px 5px var(--gunmetal);
}


/* MAIN PAGE CSS */

.title h1{
  font-weight: bold;
}
.title, .description {
  margin:auto;
  margin-top: 20px;
  width:55%
}
.tile_attribution{
  margin:auto;
  margin-top: 8px;
  width: 58%;
  font-size: 10px;
  line-height: 15px;
}
/* .tile_attribution a {
  color: var(--burnt-sienna);
} */

.description{
  margin-bottom: 30px;
  font-size: large;
  text-align: justify;
  line-height: 25px;
  /* text-justify:newspaper; */
}

#map {
  max-width: 60%;
  height: 600px;
  margin: auto;
  border-radius: 15px;
}

/* VIDEO PAGE CSS */

/* .column {
  float: left;
  width: 50%;
} */

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
  margin-top: 50px;
} */

.video {
  width: 55%;
  height: auto;
  margin: auto;
  margin-top: 10px;

}

video {
  width: 100%;
  border-radius: 20px;
}


@media only screen and (max-width: 600px) {

  .title, .description {
    margin-top: 20px;
    width:80%
  }
  .tile_attribution{
    width: 80%;
  }

  #map{
    max-width: 95%;
    height: 400px;
    margin: auto;
    border-radius: 15px;
  }

  .leaflet-popup-content {
    margin: 13px 24px 13px 20px;
    line-height: 1.4;
    font-size: 13px;
    font-size: 1.3em;
    min-height: 1px;
    max-width: 60%;
    }
}